html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body{
    font-family: 'Source Sans Pro', sans-serif; 
    background-color:white;
}
.super-apka{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.hlavni-menu{
    color: #48418e;
}

ol{
    margin: 0;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
li{
    list-style-type: none;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

li.hlavni-odkaz{
    text-transform: uppercase;
    font-weight: 600;
}
.cely-banner{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #25133d 25%, #aa5477 100%);
    justify-content: space-between;
}

.telefon{
    display: none;
}


.banner{
    display: flex;
    flex-direction: column;
    
    color: white;
    padding: 1.5rem;
}

.banner ol{
    flex-direction: column;
}

.banner li{
    border: oldlace 1px solid;
    padding: 1rem;
    margin: 5px 0px;
    border-radius: 10px;
    max-width: 20rem;
}

.banner li:hover{
    background: linear-gradient(to left, #090979 20%, #00d4ff 100%);
}

h1,
h2{
    font-weight: 400;   
}

h2{
    color: #48418e;
    font-weight: bold;
}

.obsah{
    display: flex;
    flex-direction: column;    
}

.sekce{
    display: flex;
    flex-direction: column;  
    align-items: center; 
    margin: 1rem;
}   

    .obsah img{
        max-width: 50px;
        min-width: 50px;
}

.sekce p{
    text-align: center;
}

footer{
    background-color: #48418e;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
}

@media (min-width: 480px) {
.nadpis-banner{
    margin: 0;
}

   .hlavni-menu ol{
       justify-content: left;
   } 
   .banner ol{
    flex-flow: row nowrap;
    justify-content: left;
} 

.banner li{
    margin: 0.5rem 1.5rem 0.5rem 0rem;
    flex-basis: 10rem;
    flex-grow: 0;
}

    .hlavni-menu li{
    flex-basis: auto;
    flex-grow: unset;
    padding: 1rem 1.5rem;

}

    h1{
    font-size: 3.5rem;
}
.banner p{
    font-size: 2.5rem;
    font-weight: lighter;
}
    .obsah{
    flex-direction: row;
}
.telefon{
    display: none;
}

}


@media (min-width: 900px){


   .telefon{
    display: block;
    max-block-size: 20rem;
   } 

   .banner{
    flex-basis: 50%;
    justify-content: space-between;
}

.banner p{
    margin: 1rem;
    
}

}
